<%= form_with(model: department, class: "needs-validation", url: departments_path(parent: @parent), novalidate: "novalidate") do |form| %>
  <%= render "error_messages", resource: form.object %>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <%= form.label :name, class: "form-control-label" %>
            <%= form.text_field :name, class: "form-control", required: true, autocomplete: "off" %>
            <div class="valid-feedback">
                Nice!
            </div>
            <div class="invalid-feedback">
                Required!
            </div>
        </div>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-lg-6 col-6">
        <%= content_for?(:back_button) ? yield(:back_button) : '' %>
    </div>
    <div class="col-lg-6 col-6 text-right">
        <%= submit_tag "Create", class: "btn btn-primary text-right", formnovalidate: true %>

        <% if form.object.persisted? %>
            <%= link_to 'Delete', form.object, class: "btn btn-default", method: :delete, data: { remote: true, confirm: "Are you sure?" } %>
        <% end %>
    </div>
</div>
<% end %>
