
<!-- Add this to add search form -->
<% content_for :search_form do %>
  <!-- Search form -->
  <!-- Add Class searchList on input element to enable search with List.js -->
  <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
  <div class="form-group mb-0">
      <div class="input-group input-group-alternative input-group-merge">
      <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
      </div>
      <input class="form-control searchList" placeholder="Search" type="text">
      </div>
  </div>
  <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
      <span aria-hidden="true">×</span>
  </button>
  </form>
<% end %>
<% content_for :search_show do  %>
  <li class="nav-item d-sm-none">
      <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
      <i class="ni ni-zoom-split-in"></i>
      </a>
  </li>
<% end %>
<!-- -->

<% content_for :header_title do %>
  <%= controller_name.capitalize() %>
<% end %>

<% if @departments.exists? %>
  <% content_for :new_button do %>
    <%= link_to 'New', new_department_path, class: "btn btn-sm btn-neutral", data: { turbolinks: 'false' } %>
  <% end %>
<% end %>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body p-0">
          <% if @departments.exists? %>
          <div  class="table-responsive"
                data-toggle="list"
                data-list-values='[<% (1..(@departments.first.attributes.length - 6)).each do |v| %>"<%= @departments.first.attributes.keys[v] %>"<%= (v==@departments.first.attributes.length - 6) ? "" : "," %><% end %>]'>
            <input type="hidden" class="search" />
            <table class="table align-items-center table-flush table-striped">
              <thead class="thead-light">
                <tr>
                  <% (1..(@departments.first.attributes.length - 6)).each do |v| %>
                      <th scope="col" class="sort" data-sort="<%= @departments.first.attributes.keys[v] %>">
                        <%= @departments.first.attributes.keys[v].sub('_', ' ') %>
                      </th>
                  <% end %>
                  <th></th>
                </tr>
              </thead>
              <tbody class="list">
                <% @departments.each do |department| %>
                  <tr>
                    <td class="<%= department.attributes.keys[1] %>"><%= department.name %></td>
                    <% department.child_id.where(" current_level=2").each do |department2| %>
                      <%= department2.name%> <br>
                        <% department2.child_id.where(" current_level=3").each do |department3| %>
                          <%= department3.name%> <br>
                            <% department3.child_id.where(" current_level=4").each do |department4| %>
                              <%= department4.name%> <br>
                                <% department4.child_id.where(" current_level=5").each do |department5| %>
                                  <%= department5.name%> <br>
                                    <% department5.child_id.where(" current_level=6").each do |department6| %>
                                      <%= department6.name%> <br>
                                      
                                    <%end%>
                                <%end%>
                            <%end%>
                        <%end%>
                    <%end%>
                    <td class="text-right <%= department.attributes.keys[2] %>"><%= department.current_level %></td>
                    <td class="text-right <%= department.attributes.keys[3] %>"><%= department.level1 %></td>
                    <td class="text-right <%= department.attributes.keys[4] %>"><%= department.level2 %></td>
                    <td class="text-right <%= department.attributes.keys[5] %>"><%= department.level3 %></td>
                    <td class="text-right <%= department.attributes.keys[6] %>"><%= department.level4 %></td>
                    <td class="text-right <%= department.attributes.keys[7] %>"><%= department.level5 %></td>
                    <td class="text-right <%= department.attributes.keys[8] %>"><%= department.level6 %></td>
                    <td class="text-left <%= department.attributes.keys[9] %>"><%= department.path %></td>
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" style="">
                          <%= link_to "Detail", department, class: "dropdown-item", data: { turbolinks: 'false' } %>
                          <%= link_to "Edit", edit_department_path(department), class: "dropdown-item" %>
                          <%= link_to "Show", department_path(department), class: "dropdown-item" %>
                        </div>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>