
<!-- Add this to add search form -->
<% content_for :search_form do %>
  <!-- Search form -->
  <!-- Add Class searchList on input element to enable search with List.js -->
  <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
  <div class="form-group mb-0">
      <div class="input-group input-group-alternative input-group-merge">
      <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
      </div>
      <input class="form-control searchList" placeholder="Search" type="text">
      </div>
  </div>
  <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
      <span aria-hidden="true">×</span>
  </button>
  </form>
<% end %>
<% content_for :search_show do  %>
  <li class="nav-item d-sm-none">
      <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
      <i class="ni ni-zoom-split-in"></i>
      </a>
  </li>
<% end %>
<!-- -->

<% content_for :header_title do %>
  <%= controller_name.capitalize() %>
<% end %>

<% if @departments.exists? %>
  <% content_for :new_button do %>
    <%= link_to 'New', new_department_path, class: "btn btn-sm btn-neutral", data: { turbolinks: 'false' } %>
  <% end %>
<% end %>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5 class="h3 mb-0"><%= controller_name.capitalize() %></h5>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush list my--3">
            <% if @departments.exists? %>
              <!-- Department1 -->
              <% @departments.each do |department| %>
                <li class="list-group-item px-0">
                  <div class="row align-items-center">
                    <div class="col">
                      <h4 class="mb-0">
                        <%= department.name %>
                      </h4>
                    </div>
                    <div class="col-auto">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <%= link_to 'New', new_department_path(parent: department.slug), class: "dropdown-item", data: { turbolinks: 'false' } %>
                          <%= link_to "Detail", department, class: "dropdown-item", data: { turbolinks: 'false' } %>
                          <%= link_to "Edit", edit_department_path(department), class: "dropdown-item" %>
                          <%# link_to "Show", department_path(department), class: "dropdown-item" %>
                          <a  class="dropdown-item"
                              href="#child-<%= department.slug %>"
                              data-toggle="collapse"
                              role="button"
                              aria-expanded="false"
                              aria-controls="child-<%= department.slug %>"
                              data-page="department"
                              data-turbolinks="false"
                          >Show</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="collapse ml-3 department-collapse" id="child-<%= department.slug %>">
                    <ul class="list-group list-group-flush list mb-0">
                      <!-- Department2 -->
                      <% department.child_id.where("current_level=2").each do |department2| %>
                      <li class="list-group-item px-0">
                        <div class="row align-items-center">
                          <div class="col">
                            <h4 class="mb-0">
                              <%= department2.name %>
                            </h4>
                          </div>
                          <div class="col-auto">
                            <div class="dropdown">
                              <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <%= link_to 'New', new_department_path(parent: department2.slug), class: "dropdown-item", data: { turbolinks: 'false' } %>
                                <%= link_to "Detail", department2, class: "dropdown-item", data: { turbolinks: 'false' } %>
                                <%= link_to "Edit", edit_department_path(department2), class: "dropdown-item" %>
                                <%# link_to "Show", department_path(department), class: "dropdown-item" %>
                                <a  class="dropdown-item"
                                    href="#child-<%= department2.slug %>"
                                    data-toggle="collapse"
                                    role="button"
                                    aria-expanded="false"
                                    aria-controls="child-<%= department2.slug %>"
                                    data-page="department"
                                    data-turbolinks="false"
                                >Show</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="collapse ml-3 department-collapse" id="child-<%= department2.slug %>">
                          <ul class="list-group list-group-flush list mb-0">
                            <!-- Department3 -->
                            <% department2.child_id.where("current_level=3").each do |department3| %>
                            <li class="list-group-item px-0">
                              <div class="row align-items-center">
                                <div class="col">
                                  <h4 class="mb-0">
                                    <%= department3.name %>
                                  </h4>
                                </div>
                                <div class="col-auto">
                                  <div class="dropdown">
                                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                      <%= link_to 'New', new_department_path(parent: department3.slug), class: "dropdown-item", data: { turbolinks: 'false' } %>
                                      <%= link_to "Detail", department3, class: "dropdown-item", data: { turbolinks: 'false' } %>
                                      <%= link_to "Edit", edit_department_path(department3), class: "dropdown-item" %>
                                      <%# link_to "Show", department_path(department), class: "dropdown-item" %>
                                      <a  class="dropdown-item"
                                          href="#child-<%= department3.slug %>"
                                          data-toggle="collapse"
                                          role="button"
                                          aria-expanded="false"
                                          aria-controls="child-<%= department3.slug %>"
                                          data-page="department"
                                          data-turbolinks="false"
                                      >Show</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="collapse ml-3 department-collapse" id="child-<%= department3.slug %>">
                                <ul class="list-group list-group-flush list mb-0">
                                  <!-- Department4 -->
                                  <% department3.child_id.where("current_level=4").each do |department4| %>
                                  <li class="list-group-item px-0">
                                    <div class="row align-items-center">
                                      <div class="col">
                                        <h4 class="mb-0">
                                          <%= department4.name %>
                                        </h4>
                                      </div>
                                      <div class="col-auto">
                                        <div class="dropdown">
                                          <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                          </a>
                                          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <%= link_to 'New', new_department_path(parent: department4.slug), class: "dropdown-item", data: { turbolinks: 'false' } %>
                                            <%= link_to "Detail", department4, class: "dropdown-item", data: { turbolinks: 'false' } %>
                                            <%= link_to "Edit", edit_department_path(department4), class: "dropdown-item" %>
                                            <%# link_to "Show", department_path(department), class: "dropdown-item" %>
                                            <a  class="dropdown-item"
                                                href="#child-<%= department4.slug %>"
                                                data-toggle="collapse"
                                                role="button"
                                                aria-expanded="false"
                                                aria-controls="child-<%= department4.slug %>"
                                                data-page="department"
                                                data-turbolinks="false"
                                            >Show</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="collapse ml-3 department-collapse" id="child-<%= department4.slug %>">
                                      <ul class="list-group list-group-flush list mb-0">
                                        <!-- Department5 -->
                                        <% department4.child_id.where("current_level=5").each do |department5| %>
                                        <li class="list-group-item px-0">
                                          <div class="row align-items-center">
                                            <div class="col">
                                              <h4 class="mb-0">
                                                <%= department5.name %>
                                              </h4>
                                            </div>
                                            <div class="col-auto">
                                              <div class="dropdown">
                                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  <i class="fas fa-ellipsis-v"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                  <%= link_to 'New', new_department_path(parent: department5.slug), class: "dropdown-item", data: { turbolinks: 'false' } %>
                                                  <%= link_to "Detail", department5, class: "dropdown-item", data: { turbolinks: 'false' } %>
                                                  <%= link_to "Edit", edit_department_path(department5), class: "dropdown-item" %>
                                                  <%# link_to "Show", department_path(department), class: "dropdown-item" %>
                                                  <a  class="dropdown-item"
                                                      href="#child-<%= department5.slug %>"
                                                      data-toggle="collapse"
                                                      role="button"
                                                      aria-expanded="false"
                                                      aria-controls="child-<%= department5.slug %>"
                                                      data-page="department"
                                                      data-turbolinks="false"
                                                  >Show</a>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="collapse ml-3 department-collapse" id="child-<%= department5.slug %>">
                                            <ul class="list-group list-group-flush list mb-0">
                                              <!-- Department6 -->
                                              <% department5.child_id.where("current_level=6").each do |department6| %>
                                              <li class="list-group-item px-0">
                                                <div class="row align-items-center">
                                                  <div class="col">
                                                    <h4 class="mb-0">
                                                      <%= department6.name %>
                                                    </h4>
                                                  </div>
                                                  <div class="col-auto">
                                                    <div class="dropdown">
                                                      <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                      </a>
                                                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                        <%= link_to 'New', new_department_path(parent: department6.slug), class: "dropdown-item", data: { turbolinks: 'false' } %>
                                                        <%= link_to "Detail", department6, class: "dropdown-item", data: { turbolinks: 'false' } %>
                                                        <%= link_to "Edit", edit_department_path(department6), class: "dropdown-item" %>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </li>
                                              <% end %>
                                            </ul>
                                          </div>
                                        </li>
                                        <% end %>
                                      </ul>
                                    </div>
                                  </li>
                                  <% end %>
                                </ul>
                              </div>
                            </li>
                            <% end %>
                          </ul>
                        </div>
                      </li>
                      <% end %>
                    </ul>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
