<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Hospital Management v.1">
    <meta name="author" content="Runcode">
    <title>Hospital Management V.1</title>
    <!-- Favicon -->
    <%= favicon_pack_tag 'img/brand/favicon.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/sidenav' %>
    <div class="main-content" id="panel">
      <%= render 'layouts/topnav' %>
      <%= render 'layouts/header' %>

      <%= yield %>
    </div>
  </body>
</html>
